<component name="ArtifactManager">
  <artifact type="jar" name="Spring_Cloud:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_Cloud_jar</output-path>
    <root id="archive" name="Spring_Cloud.jar">
      <element id="module-output" name="eureka_server" />
    </root>
  </artifact>
</component>